## Part 2

In [2]:
import pandas as pd
import numpy as np
import requests
import matplotlib.pyplot as plt

In [3]:
sanitation_df = pd.read_csv('311_Service_Requests_-_Sanitation_Code_Complaints.csv')

In [ ]:
vacant_df = pd.read_csv('311_Service_Requests_-_Vacant_and_Abandoned_Buildings_Reported.csv')

In [9]:
def get_blocks(df):
    '''
    Given a data frame, append column with a FIPS block number
    '''
    blocks = []
    for index, row in df.iterrows():
        longitude = row['Longitude']
        latitude = row['Latitude']
        html = "http://data.fcc.gov/api/block/find?format=json&latitude={latitude}&longitude={longitude}&showall=false".format(latitude=latitude, longitude= longitude)
        req = requests.get(html)
        json = req.json()
        FIPS_info = json['Block']['FIPS']
        blocks.append(FIPS_info)
    new_df = pd.DataFrame(blocks)
    augmented_df = pd.concat([df, new_df], axis = 1)
    augmented_df = augmented_df.rename(columns={0: 'Block_Number'})
    
    return augmented_df

In [12]:
sanitation_df_blocks = get_blocks(sanitation_df[1:300])

In [13]:
sanitation_df_blocks.head()

,Creation Date,Status,Completion Date,Service Request Number,Type of Service Request,What is the Nature of this Code Violation?,Street Address,ZIP Code,X Coordinate,Y Coordinate,Ward,Police District,Community Area,Latitude,Longitude,Location,Block_Number
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,170314402021006
1,01/02/2016,Completed,01/04/2016,16-00018850,Sanitation Code Violation,Dog feces in yard,8243 S ST LAWRENCE AVE,60619.0,1.181671e+06,1.850471e+06,6.0,6.0,44.0,41.744924,-87.609906,"(41.74492409837845, -87.6099058679411)",170316112001003
2,01/02/2016,Completed,01/04/2016,16-00020369,Sanitation Code Violation,Garbage in yard,4748 S LOOMIS BLVD,60609.0,1.167798e+06,1.873266e+06,20.0,9.0,61.0,41.807785,-87.660083,"(41.807785222553655, -87.66008284545259)",170312411002011
3,01/02/2016,Completed,01/05/2016,16-00016767,Sanitation Code Violation,Dumpster not being emptied,1442 N CAMPBELL AVE,60622.0,1.159478e+06,1.909510e+06,1.0,14.0,24.0,41.907417,-87.689603,"(41.90741740180557, -87.68960322899117)",170315102001021
4,01/02/2016,Completed,01/05/2016,16-00018043,Sanitation Code Violation,Other,9839 S MANISTEE AVE,60617.0,1.196336e+06,1.840261e+06,10.0,4.0,51.0,41.716555,-87.556510,"(41.71655465825793, -87.55651043905326)",170316504003018

Not entirely sure how to access API for information...